body{ 
    background-color: rgb(49, 49, 49);
    background-size: 200px 300px;
     }
    
     .div3{
        color: rgb(211, 211, 211);
     }
     h2{
        color: rgb(211, 211, 211);;
     }
     h3{
        color: rgb(211, 211, 211);;
     }
     div{
        color: rgb(226, 226, 226);
     }